*.tmp
*.class
*.log
App/.metadata/
App/.sonarlint/
App/SlackAirtableSyncing/.idea/
App/SlackAirtableSyncing/.settings/
App/SlackAirtableSyncing/bin/
App/SlackAirtableSyncing/target/
App/SlackAirtableSyncing/.classpath
App/SlackAirtableSyncing/.project
*.lock
App/Project1/.metadata/